@import '../../base/colors';

body{
    background-color: $bgColor;

    position: relative;
    min-height: 100vh;
}



input, input:hover, input:focus{
    border: none;
    outline: none;
}

button, button:hover, button:focus{
    border: none;
    outline: none;
}