@import '../../base/colors';

.navWrapper{
    background-color: $navFooter;
    display: flex;
    height: 5rem;
}
.navWrapper>div{
    margin: auto;
}

.navLinksWrapper{
    display: flex;
    width: 100%;
}

.navLinksWrapper>a{
    margin-left: auto;
    color: $txtColor;
    font-size: 26px;
}
.navLink{
    
    text-align: right;
}
.navLogin{
   
    margin-right: 5rem;

}

.navImgWrapper{

}

.navImgWrapper>a>img{
    height: 70px;
    width: 100%;
    margin-left: 50px;
    background-color: $bgColor;

    border-radius: 200px;
}