@import '../../base/colors';

.footerLinks{
    display: flex;
    margin: 0 17% 0 17%;
    padding-bottom: 2rem;
}
.footerLink{
    margin: auto;
    color: $bgColor;
    
}
.verticalRule{
    color: $bgColor;
}

.footerTitle{
    color: $bgColor;
    margin-left: 48%;
    padding-top: 2rem;
}

.footerWrapper{
    background-color: $navFooter;
    
    position: relative;
    width: 100%;
    bottom: 0px;
    margin-top: 10rem;
}
.footerWrapper>hr{
    background-color: $bgColor;
    margin: 2rem 20% 2rem 20%;
}
