@import  '../../base/colors';
.formWrapper{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 5% auto 0 auto;
}


.formWrapper>input{
    font-size: 18px;
    width: 100%;
    background-color: $inputColor;
    color: $navFooter;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}
.input{
    // display: flex;
    flex-direction: column;
    flex: 1;
}

.formWrapper>input::placeholder{
    color: $navFooter;
}

.formWrapper>button{
    @include successBtn;
    display: flex;
    margin: 20px 0 0 auto;

}

.loginWrapper{
    display: flex;
    flex-direction: column;
    background-color: $navFooter;
    width: 50%;
    margin: 15rem auto 20rem auto;
    padding-bottom: 50px;
    border-radius: 15px;
}


.loginWrapper>hr{
    background-color: $bgColor;
    margin: 5% 15% 0 15%;
    padding: 0;
}
.loginTitle {
    color: $inputColor;
    justify-content: center;
    align-content: center;
    margin: 2rem auto 0 auto;
    height: 50px;
}

.register{
    color: $inputColor;
    margin: 0 2.5rem 0 auto;
    padding-top: 1rem;
}
.loginWrapper>a{
    display: flex;
}
.register>i{
    border: 1px solid $bgColor;
    padding: 6px;
    font-size: 12px;
    margin-left: 5px;
}

.google{
    display: flex;
    height: 50px;
    width: 50px;
    margin: 2.5rem auto 0 auto;
}