$bgColor: #c4a29e;
$navFooter: #002a32;
$txtColor: #FFC6AC;
$inputColor: #f0d4d1;
$danger: #eba6a9;
$success: #02aecf;

@mixin successBtn {
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    color: $inputColor;
    background-color: $success;
}

@mixin inputField {
    font-size: 18px;
    width: 100%;
    background-color: $inputColor;
    color: $navFooter;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}